body {
    margin:0;
}

p {
    margin:0;
    padding:0;
}

td {
    width:1px;
    white-space:nowrap;
}

ol {
    margin:0;
    padding:0;
}

ul {
    margin:0;
    padding:0;
}

/* ============================= */
/* ======= SIDEBAR STUFF ======= */
/* ============================= */
#sidebar {
    background: #111 url("Assets/sidebarbg.png") no-repeat bottom;
    float:left;
    position:fixed;
    top:0;
    width:260px;
    height:100vh;
    padding:0 20px;
}

#sidebar .title {
    color:#fff;
    font-family: 'Yesteryear', cursive;
    font-size:2.7em;
    text-align: center;
    padding-top:30px;
}

#sidebar .desc {
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1em;
}

#sidebar-nav {
   //background:red;
    width:260px;
    min-height:100px;
    margin:auto;
    padding:5px 10px 0 0;
}

#sidebar-nav .title {
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-align: left;
}

#sidebar-nav .item {
    color:#999;
    font-size:1em;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom:5px;
}

#sidebar-nav .item a {
    color: #999;
    text-decoration: none;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
#sidebar-nav .item a:hover {
    color: #fff;
}

/* ============================= */
/* ======= CONTENT STUFF ======= */
/* ============================= */

/* container to left of sidebar */
#content {
    background: #fff;
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1em;
    min-height:100vh;
    margin-left:300px;
    padding:0 20px 40px 40px;
    overflow: auto;
}

#content p {
    margin:0;
    padding-bottom:1em;
}
#content a {
    color: #444;
    text-decoration: none;
    border-bottom: #444 solid 1px;
    padding-bottom:1px;
}

/* title of page */
#content-title {
    font-size:3.5em;
    margin: 10px;
    border-style: solid;
    border-width: 18px 17px 32px 39px;
    -moz-border-image: url("Assets/title_border2.png") 18 17 32 39 repeat;
    -webkit-border-image: url("Assets/title_border2.png") 18 17 32 39 repeat;
    -o-border-image: url("Assets/title_border2.png") 18 17 32 39 repeat;
    border-image: url("Assets/title_border2.png") 18 17 32 39 fill repeat;
    display:block;
    width:65vw;
}

/* links formatted into tables */
table#links td {
    padding-right:5px;
}

table#links td:after {
    content:"·";
    padding-left:15px;
}

table#links td:last-child:after {
    content:"";
    padding-left:15px;
}

/* container to right of sidebar */
.post {
    background: #eff2f2;
    margin: 30px;
    padding:20px 30px;
    width: 63vw;
}

.post img {
    display:block;
}

.post-title {
    font-size:2em;
    text-transform: uppercase;
    font-weight: bold;
}

.post-content {
    margin-bottom:1em;
    padding-bottom:1.5em;
    border-style: solid;
    border-width: 18px 16px 16px;
    -moz-border-image: url("Assets/partition2.png") 18 16 16 repeat;
    -webkit-border-image: url("Assets/partition2.png") 18 16 16 repeat;
    -o-border-image: url("Assets/partition2.png") 18 16 16 repeat;
    border-image: url("Assets/partition2.png") 18 16 16 repeat;
}

/* last post container - has no partition */
.post-content-l {
    padding:0 20px 0 20px;
}

/* ====================================== */
/* ======= TABLE OF CONTENT STUFF ======= */
/* ====================================== */

/* TOC : recipe names */
table#toc td:nth-child(1) {
    font-weight:bold;
    text-transform: uppercase;
}

table#toc td:nth-child(1):after {
    content:", ";
    font-weight:normal;
    padding-right:25px;
}

/* TOC : recipe creators */
table#toc td:nth-child(2) {
    text-align:right;
}

/* ============================= */
/* ======= CREDITS STUFF ======= */
/* ============================= */

table#recipecreators {
    padding:10px 0;
    margin:auto;
}

table#recipecreators td {
    border:solid black 1px;
    padding: 0 1em;
    text-align:left;
}

table#shoutouts td {
    min-width:200px;
    text-align:left;
}

#recipe img {
    border: #fff solid 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#recipe-title {
    font-family: 'Yesteryear', cursive;
    font-size: 2.5em;
}

#recipe-title:after {
    content:"";
    background: url("Assets/partition.png") no-repeat;
    width:1121px;
    height:16px;
    display:block;
    margin:0 auto;
}

.recipe-subtitle {
    font-weight:bold;
    margin-bottom:0;
}

table#recipe-info td {
    font-size:1em;
    padding-right:10px;
}

table#recipe-info td:after {
    content:"·";
    padding-left:15px;
}

table#recipe-info td:last-child:after {
    content:"";
    padding-left:15px;
}

table#recipe-info td:nth-child(1):before {
    content: "Active cooking time: ";
}

table#recipe-info td:nth-child(2):before {
    content: "Total cooking time: ";
}

table#recipe-info td:nth-child(3):before {
    content: "Serves ";
}

#recipe-blurb {
    font-weight:bold;
    font-style: italic;
    text-align:center;
    padding:0 100px 40px 100px;
}

#recipe-ingredients {
    background: red;
    width:50vh;
    height:200px;
    font-size:0.9em;
}

.recipe-img {
    float:right;
    width:50vh;
    margin: 0 0 10px 10px;
}

table#ingredients {
    margin-bottom:50px;
}

table#ingredients td:nth-child(1) {
    text-align:center;
}

table#ingredients td:nth-child(2) {
    padding-right:40px;
}

ol {
    margin-left:-25px;
}
li {
    padding-left:25px;
    padding-bottom:20px;
}

#recipe-credits {
    font-size:1em;
}


