@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin:0;
    font-size:20px;
}

table {
    white-space: nowrap;
}

/* external link icon to all links */
a:after {
    font-family: "FontAwesome", sans-serif;
    font-size:50%;
    content: "\f08e";
    vertical-align: super;
    padding-left:.5em;
}

/* social media icons */
a.twitter:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f099";
    padding-right:.2em;
}

a.tumblr:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f174";
    padding-right:.2em;
}

a.instagram:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f16d";
    padding-right:.2em;
}

a.facebook:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f230";
    padding-right:.2em;
}

a.reddit:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f281";
    padding-right:.2em;
}

/* remove external link icon from local links */
a.local-link:after {
    content:"";
    padding-left:0;
}

/* social media formatting */


/* ============================= */
/* ======= SIDEBAR STUFF ======= */
/* ============================= */
#sidebar {
    background: #111 url("Assets/sidebarbg.png") no-repeat bottom;
    float:left;
    position:fixed;
    top:0;
    width:260px;
    height:100vh;
    padding:0 20px;
}

#sidebar .title {
    color:#fff;
    font-family: 'Reenie Beanie', cursive;
    font-size:2.7em;
    text-align: center;
    padding-top:30px;
}

#sidebar .desc {
    color: #fff;
    font-size:1em;
    text-align:center;
}

#sidebar-nav {
    width:260px;
    min-height:100px;
    margin:auto;
    padding:5px 10px 0 10px;
}

#sidebar-nav .title {
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: left;
}

#sidebar-nav .item {
    color:#999;
    font-size:1em;
    padding-bottom:5px;
}

#sidebar-nav .item:before {
    font-family: "FontAwesome", sans-serif;
    content:"\f105";
    padding-right:1em;
}

#sidebar-nav .item a {
    color: #999;
    text-shadow: 5px 5px 5px #111;
    text-decoration: none;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

#sidebar-nav .item a:hover {
    color: #fff;
}

/* ============================= */
/* ======= CONTENT STUFF ======= */
/* ============================= */

/* container to left of sidebar */
#content {
    background: #fff;
    color: #444;
    font-size:1em;
    min-height:100vh;
    margin-left:300px;
    padding:0 20px 40px 40px;
    overflow: auto;
}

#content p {
    margin:0;
    padding-bottom:1em;
}
#content a {
    color: #444;
    text-decoration: none;
}

/* title of page */
#content-title {
    font-size:3.5em;
    margin: 10px;
    border-style: solid;
    border-width: 18px 17px 32px 39px;
    -moz-border-image: url("Assets/title_border2.png") 18 17 32 39 repeat;
    -webkit-border-image: url("Assets/title_border2.png") 18 17 32 39 repeat;
    -o-border-image: url("Assets/title_border2.png") 18 17 32 39 repeat;
    border-image: url("Assets/title_border2.png") 18 17 32 39 fill repeat;
    display:block;
    width:65vw;
}

/* links formatted into tables */
table.links {
    margin-left:auto;
    margin-right:auto;
    padding-bottom:0;
}

table.links td {
    padding-right:5px;
}

table.links td:after {
    content:"\2027";
    padding-left:15px;
}

table.links td:last-child:after {
    content:"";
    padding-left:15px;
}

/* notes marked with asterisk */
.note {
    display:inline-block;
    margin:1em 0 1em 2em;
    padding-left:.5em;
    font-style: italic;
    border-left: #444 3px solid;
}

.note:before {
    content: "\203B  ";
    font-style: normal;
}

/* ========================== */
/* ======= POST STUFF ======= */
/* ========================== */

.post {
    background: #eff2f2;
    margin: 30px;
    padding:20px 30px;
    width: 63vw;
}

.post img {
    display:block;
}

.post-title {
    font-size:2em;
    text-transform: uppercase;
    font-weight: bold;
}

.post-content {
    position:relative;
    overflow:hidden;
    margin-bottom:1em;
    padding-bottom:1em;
    border-style: solid;
    border-width: 18px 16px 16px;
    -moz-border-image: url("Assets/partition2.png") 18 16 16 repeat;
    -webkit-border-image: url("Assets/partition2.png") 18 16 16 repeat;
    -o-border-image: url("Assets/partition2.png") 18 16 16 repeat;
    border-image: url("Assets/partition2.png") 18 16 16 repeat;
}


/* ====================================== */
/* ======= TABLE OF CONTENT STUFF ======= */
/* ====================================== */

table#toc {
    position:absolute;
    top:0;
    left:0;
}

/* TOC : recipe names */
table#toc td:nth-child(1) {
    font-family: 'Reenie Beanie', cursive;
    font-weight:bold;
    text-transform: uppercase;
    padding-right:2em;
}

/* TOC : recipe creators */
table#toc td:nth-child(2) {
    color:#444;
    text-align:right;
    font-style: italic;
    font-size:.8em;
}

/* ============================ */
/* ======= RECIPE STUFF ======= */
/* ============================ */

.image-right {
    border: solid white 1em;
    height:auto;
    width:300px;
    margin: 1em;
    float:right;
    overflow:hidden;
    background:#fff;
}

.image-left {
    height:300px;
    width:300px;
    border: solid white 10px;
    margin: 1em;
    float:left;
    overflow:hidden;
    backround:#fff;
}

.caption {
    font-family: 'Reenie Beanie', cursive;
    font-size:1.1em;
    text-align: center;
    padding-top:0.5em;
    background:#fff;
}

#recipe-title {
    margin-top:-18px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.5em;
    border-style: solid;
    border-width: 18px 16px 16px;
    -moz-border-image: url("../SENG513A1/Assets/partition2.png") 18 16 16 repeat;
    -webkit-border-image: url("../SENG513A1/Assets/partition2.png") 18 16 16 repeat;
    -o-border-image: url("../SENG513A1/Assets/partition2.png") 18 16 16 repeat;
    border-image: url("../SENG513A1/Assets/partition2.png") 18 16 16 repeat;
}

/* contains active, total cooking time, servings */
#recipe-info {
    font-size:1em;
    margin-right:auto;
    margin-left:auto;
}

table#recipe-info td {
    padding-right:10px;
}

table#recipe-info td:after {
    content:"\2027";
    padding-left:15px;
}

table#recipe-info td:last-child:after {
    content:"";
    padding-left:15px;
}

table#recipe-info td:nth-child(1):before {
    content: "Active cooking time: ";
}

table#recipe-info td:nth-child(2):before {
    content: "Total cooking time: ";
}

table#recipe-info td:nth-child(3):before {
    content: "Serves ";
}

/* tidbit about recipe */
#recipe-blurb {
    border: solid white 1em;
    height:auto;
    width:80%;
    margin: 0 auto 1em auto;
    overflow:hidden;
    background:#fff;
}

#recipe-blurb img {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

#recipe-ingredients {
    margin-bottom:20px;
}

#recipe-ingredients h1 {
    font-size:1em;
    margin:0;
    text-transform: uppercase;
    font-weight:bold;
}

table#ingredients {
    font-size:0.9em;
    margin-left:2em;
}

table#ingredients td {
    vertical-align: top;
}

#recipe-ingredients dl {
    list-style-type: none;
    padding:0;
    margin:0 3em 0 0;
}

#recipe-ingredients dd:before {
    content:"\203B  ";
    margin-left:-1em;
}

.recipe-instructions {
    margin-bottom: 1.5em;
}

.recipe-instructions h1 {
    font-size:1em;
    margin:0;
    text-transform: uppercase;
    font-weight:bold;
}

.recipe-instructions img {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.recipe-instructions ol {
    margin: .5em 0 .5em -0.5em;
}
.recipe-instructions li {
    padding-left:.5em;
    padding-bottom:1em;
}
.recipe-instructions li:last-child {
    padding-bottom:0;
}

#recipe-credits {
    font-size:1em;
}
